<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Post</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <form class="form" method="POST" action="/posts">
    <h1>Add New Post</h1>
    <input type="text" placeholder="Enter a username" name="username" required>
    <br><br/>
    <textarea name="content"  placeholder="Write your post" required></textarea >
    <br><br/>
    <button class="button">Submit Post</button>
  </form>
</body>
</html>